{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>{{ i18n "pageNotFound" }}</h1>
      <br/>
      <div style="height: 4000px;"></div>
      <img src="{{ .Site.BaseURL }}/img/sneegzoom.png" />
      <div style="height: 4000px;"></div>
    </div>
  </div>
{{ end }}

